.cart-card {
	height: 250px;
	width: 220px;
	display: grid;
	grid-template-columns: repeat(4, 200px);
	justify-items: center;
	align-items: center;
	gap: 10px;
}
.cart-labels {
	display: grid;
	grid-template-columns: repeat(4, 200px);
	gap: 10px;
	justify-items: center;
}
.cart {
	width: 80%;
	display: flex;
	margin: auto;
	position: relative;
}
.cart-thumb {
	height: 190px;
	width: 200px;
	object-fit: scale-down;
}

.cart-product-col {
	grid-column-start: 1;
	grid-column-end: 2;
	text-align: center;
}
.cart-price-col {
	grid-column-start: 2;
	grid-column-end: 3;
}
.cart-qty-col {
	grid-column-start: 3;
	grid-column-end: 4;
	display: flex;
	justify-content: center;
	gap: 10px;
}
.cart-sidebar {
	height: 40%;
	width: 25%;
	position: sticky;
	right: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	gap: 25px;
}
.fake-link {
	cursor: pointer;
}
.fake-link:hover {
	color: blue;
}
#cart-total-sum {
	font-size: 1.2rem;
	font-weight: bold;
}
.cart-empty {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
a {
	text-decoration: none;
}
.cart-qty--btn {
	color: white;
	background-color: green;
	outline: none;
	border: none;
	width: auto;
	padding: 5px 10px;
	cursor: pointer;
	font-weight: bold;
	border-radius: 2px;
}
