nav a {
	text-decoration: none;
}
nav {
	padding: 12px;
	display: flex;
	gap: 10px;
	justify-content: flex-end;
}
.nav-cartbox {
	position: relative;
	display: flex;
	gap: 5px;
}
#nav-cart-number {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: red;
	color: white;
	font-weight: bold;
	border-radius: 50%;
	padding: 2px 4px;
	font-size: 0.5rem;
}
#nav-cart-icon {
	font-size: 1.2rem;
	margin-right: 6px;
}
